.footer {
  text-align: center;
}
h1 {
  text-align: center;
}
.vertical_menu {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
/*paramètre navbar déroulante au survol vertical*/
.vertical_menu ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
.vertical_menu li {
  background-color:#729EBF;
  background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
  background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
  border-radius: 6px;
  margin-bottom:2px;
  box-shadow: 3px 3px 3px #999;
  border:solid 1px #333A40;
}
.vertical_menu li li {
  max-height:0;
  overflow: hidden;
  transition: all .5s;
  border-radius:0;
  background: #444;
  box-shadow: none;
  border:none;
  margin:0;
}
.vertical_menu a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em;
}
.vertical_menu ul li a, .vertical_menu li:hover li a {
  font-size:1em;
}
.vertical_menu li:hover {
  background: #729EBF;
}
.vertical_menu li li:hover {
  background: #999;
}
.vertical_menu ul li:last-child {
  border-radius: 0 0 6px 6px;
  border:none;
}
.vertical_menu li:hover li {
  max-height: 15em;
}
